@using DAL
@model DTO.PostDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Post</title>
</head>
<body>
<div>
    @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")

    <div>
        @using (Html.BeginForm("AddPost", "Post", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.Partial("PostForm")
        }
    </div>
</div>
</body>
</html>