@using DAL
@model DTO.PostDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Post</title>
</head>
<body>
<div>
    @if (ViewBag.ProcessState == "Empty")
    {
        <div style="color: red">
            <strong>Error!! Please fill the neccessary areas</strong>
        </div>
    }
    @if (ViewBag.ProcessState == "Error")
    {
        <div style="color: red">
            <strong>Error! Something went wrong</strong>
        </div>
    }
    @if (ViewBag.ProcessState == "ImageMissing")
    {
        <div style="color: red">
            <strong>ImageMissing</strong>
        </div>
    }
    @if (ViewBag.ProcessState == "ExtensionError")
        {
            <div style="color: red">
                <strong>ExtensionError</strong>
            </div>
        }
    @if (ViewBag.ProcessState == "Success")
    {
        <div style="color: green">
            <strong>Added</strong>
        </div>
    }

    <div>
        @using (Html.BeginForm("AddPost", "Post", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.Partial("PostForm")
        }
    </div>
</div>
</body>
</html>