@model System.Collections.Generic.List<DTO.PostDTO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var item in Model)
    {
        <div>
            <h3> <a href="/Admin/Post/PostDetails/@item.ID"> Post: @item.Title </a></h3>
            <p>Content: @item.ShortContent</p>
            <p>Link: @item.SeoLink</p>
            <p>Category: @item.CategoryName</p>
            <button>
                <a href="/Admin/Post/UpdatePost/@item.ID">
                    Update
                </a>
            </button>
            <button>
                <a href="/Admin/Post/DeletePost/@item.ID" onclick="AskQuestion('/Admin/Post/DeletePost/',@item.ID)">
                    Delete
                </a>
            </button>
        </div>
    }
</div>
</body>
</html>