@model DTO.UserDTO

@{
    ViewBag.Title = "Login";
}

<div>
    @if (ViewBag.ProcessState == "Wrong")
    {
        <div style="color: red">
            <strong>Username and password not found.</strong>
        </div>
    }
    <form method="post">
        @Html.ValidationMessageFor(x => x.Username)
        <input type="text" name="username" placeholder="Username"/>
        @Html.ValidationMessageFor(x => x.Password)
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Login"/>
    </form>
</div>